/* Add styling for your page here */

.App {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.bakeryItem {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 2.5rem;
}

.bakeryPic {
    width: 50%;
}
